body {
    color: white;
    background-color: rgb(49, 48, 48);
}

.menu-container {
    display: grid;
    column-gap: 10px;
    row-gap: 10px;
    grid-template-columns: repeat(3, 200px);
    padding: 10px;
}

.menu-item {
    border-radius: 8px;
    background-color: rgb(81, 82, 83);
    padding: 20px;
    font-size: 20px;
    color: white;
    text-align: center;
}

form {

    border-radius: 8px;
    width: 200px;
    background-color: rgb(81, 82, 83);
    padding: 10px;
    font-size: 20px;
    color: white;
    text-align: left;


}